/*
Error: Undefined mixin 'Section-ProfileStyle'.
        on line 1471 of C:\Users\hostr777\Desktop\web\Createx-WebSite\scss\Createx.scss, in `Section-ProfileStyle'
        from line 1471 of C:\Users\hostr777\Desktop\web\Createx-WebSite\scss\Createx.scss

1466: @include burger;
1467: @include media-all;
1468: @include sub-menu-woomen;
1469: @include login-popap;
1470: @include register-popap;
1471: @include Section-ProfileStyle

Backtrace:
C:\Users\hostr777\Desktop\web\Createx-WebSite\scss\Createx.scss:1471:in `Section-ProfileStyle'
C:\Users\hostr777\Desktop\web\Createx-WebSite\scss\Createx.scss:1471
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `block in with_mixin'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `with_mixin'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/Programs/scss/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/Programs/scss/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/Programs/scss/bin/sass:22:in `load'
D:/Programs/scss/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'Section-ProfileStyle'.\A         on line 1471 of C:\Users\hostr777\Desktop\web\Createx-WebSite\scss\Createx.scss, in `Section-ProfileStyle'\A         from line 1471 of C:\Users\hostr777\Desktop\web\Createx-WebSite\scss\Createx.scss\A \A 1466: @include burger;\A 1467: @include media-all;\A 1468: @include sub-menu-woomen;\A 1469: @include login-popap;\A 1470: @include register-popap;\A 1471: @include Section-ProfileStyle"; }
