.password__open {
  background: url("./img/Eyes.svg") 0 0 no-repeat;
}

.password__open {
  background: url("./img/Eyes.svg") 0 0 no-repeat;
}

.password__open {
  background: url("./img/Eyes.svg") 0 0 no-repeat;
}