@mixin CreatexBlogPage-Style {

	.section-blogPage__countainer {
		max-width: 810px;
	}

	.section-blogPage__body {
		margin: 32px 0px 120px 0px;
	}

	.section-blogPage__block-title {
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-bottom: 64px
	}

	.section-blogPage__title {
		@include h2;
	}

	.section-blogPage__column-info {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.section-blogPage__item-infoFast {
		display: flex;
	}

	.section-blogPage__user-name {
		@include text-16px;
		color: $green;

		&::after {
			content: "";
			display: inline-block;
			width: 1px;
			height: 12px;
			margin: 0px 12px;
			background-color: $gray-700;
		}
	}

	.section-blogPage__time {
		@include text-16px;
		font-weight: 400;
		color: $gray-700;

		&::after {
			content: "";
			display: inline-block;
			width: 1px;
			height: 12px;
			margin: 0px 12px;
			background-color: $gray-700;
		}
	}

	.section-blogPage__comments {
		display: flex;
		align-items: center;
		gap: 8px;

		span {
			
		}
	}

	.section-blogPage__item-massenger {
		display: flex;
		gap: 12px;
	}

	.section-blogPage__img-massenger {
		background-color: $gray-700;
		border-radius: 4px;
		opacity: 0.12;
		padding: 8px;

		img {
			width: 16px;
			height: 16px;
		}

		&:hover {
			background-color: $green;

			svg path {
				fill: $green;
			}
		}
	}

	.section-blogPage__block-content {
	}

	.section-blogPage__img {
		margin-bottom: 32px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.section-blogPage__title-content {
		@include h4;
		color: $gray-900;
	}

	.section-blogPage__text {
	}
	.section-blogPage__column-quote {
	}
	.section-blogPage__quote {
	}
	.section-blogPage__list {
	}
	.section-blogPage__item {
	}
	.section-blogPage__block-info {
	}
	.section-blogPage__column-tags {
	}
	.section-blogPage__tags {
	}
	.section-blogPage__column-massenger {
	}
	.section-blogPage__massenger-link {
	}
	.section-blogPage__block-nextPage {
	}
	.section-blogPage__column-page {
	}
	.column-page__item-arrow {
	}
	.column-page__item-info {
	}
	.column-page__info-block {
	}
	.column-page__time {
	}
	.column-page {
	}
}