@mixin CreatexBlogPage-Style {

	.section-blogPage__body {
	}

	.section-blogPage__block-title {
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-bottom: 64px
	}

	.section-blogPage__title {
		@include h2;
	}

	.section-blogPage__column-info {
		display: flex;
		justify-content: space-between;
	}

	.section-blogPage__item-infoFast {
	}

	.section-blogPage__user-name {
		@include text-16px;
		color: $green;
	}

	.section-blogPage__time {
		@include text-16px;
		color: $gray-700;
	}

	.section-blogPage__comments {
		display: flex;
		gap: 8px;
	}

	.section-blogPage__item-massenger {
		display: flex;
		gap: 12px;
	}

	.section-blogPage__img-massenger {
		background-color: $gray-700;
		border-radius: 4px;
		padding: 8px;

		img {
			width: 100%;
			height: 100%;
		}

		&:hover {
			background-color: $green;

			svg path {
				fill: $green;
			}
		}
	}

	.section-blogPage__block-content {
	}

	.section-blogPage__img {
		margin-bottom: 32px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.section-blogPage__title-content {
		@include h4;
		color: $gray-900;
	}

	.section-blogPage__text {
	}
	.section-blogPage__column-quote {
	}
	.section-blogPage__quote {
	}
	.section-blogPage__list {
	}
	.section-blogPage__item {
	}
	.section-blogPage__block-info {
	}
	.section-blogPage__column-tags {
	}
	.section-blogPage__tags {
	}
	.section-blogPage__column-massenger {
	}
	.section-blogPage__massenger-link {
	}
	.section-blogPage__block-nextPage {
	}
	.section-blogPage__column-page {
	}
	.column-page__item-arrow {
	}
	.column-page__item-info {
	}
	.column-page__info-block {
	}
	.column-page__time {
	}
	.column-page {
	}
}