@mixin CreatexProduct-Style {
	
	.section-product__body {
		margin: 32px 0px 180px;
	}
	
	.section-product__block-up {
		display: flex;
		flex-direction: column;
		gap: 32px;
		padding-bottom: 20px;
		margin-bottom: 32px;
		border-bottom: 1px solid $gray-300;
	}
	
	.block-up {
	}
	
	.block-up__title-column {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.section-product__title {
		@include h2;
	}
	
	.section-product__serial-number {
		label {
			@include text-16px;
			color: $gray-700;
		}

		number {
			@include text-16px;
			font-weight: 400;
		}
	}
	
	.block-up__button-column {
		display: flex;
		gap: 12px;
	}
	
	.block-up__button-info {
		@include button-green;
		padding: 0px 20px;
		transition: all 0.3s;
		border: 1px solid $gray-300;
		a {
			color: $gray-600;
		}

		&:hover {
			background: none;
			border: 1px solid $green;

			a {
				color: $green;
			}
		}

		&:focus {
			border: 1px solid $green;

			a {
				color: $green;
			}
		}
	}

	.border-acctiv {
		border: 1px solid $green;
		
		a {
			color: $green;
		}
	}

	.border-gray {
		border: 1px solid $gray-300;
		
		a {
			color: $gray-600;
		}
	}
	
	.section-product__block-down {
		display: flex;
		justify-content: space-between;
		gap: 105px;
	}

	.show-flex {
		display: flex;
		animation: list-animation 0.5s ease;
	}

	.block-hide {
		display: none;
	}
	
	.block-down__slider {
		min-width: 600px;
	}
	
	.block-down__general-info {
		display: flex;
		flex-direction: column;
		gap: 32px;
		min-width: 525px;
	}
	
	.block-down__setting-column {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	
	.block-down__product-info {
		display: flex;
		justify-content: space-between;
	}
	
	.product-info {
	}
	
	.product-info__price-column {
		display: flex;
		align-items: center;
		gap: 12px;
	}
	
	.product-info__price-red {
		@include red-price;
	}
	
	.product-info__price-gray {
		@include text-18px;
		color: $gray-700;
		text-decoration-line: line-through;
		margin-right: 22px;
	}
	
	.product-info__discount {
		@include text-16px;
		color: $white;
		background-color: $red;
		border-radius: 4px;
		padding: 0px 8px;
	}
	
	.product-info__icon-column {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 8px;

		label {
			@include text-14px;
			opacity: 1;
			color: $gray-700;
		}
	}
	
	.product-info__icon-star {
	}
	
/* BLOCK-DOWN */
	.block-down__color-column {
		display: flex;
		flex-direction: column;
		gap: 12px;

		label {
			@include text-14px;
			opacity: 1;
			color: $gray-800;
		}
	}
	
	.block-down__buttonColor-column {
		display: flex;
		gap: 8px;
	}
	
	.block-down__button-color {
		display: inline-flex;
		background: none;
		border: 1px solid $gray-400;
		border-radius: 50%;
		padding: 3px;
		transition: all 0.2s;
		cursor: pointer;

		a {
			width: 20px;
			height: 20px;
			border-radius: 50%;
		}

		&:nth-child(1) a {
			background-color: #E0AEA2;
		}
		&:nth-child(2) a {
			background-color: #C0DDED;
		}
		&:nth-child(3) a {
			background-color: #FEDE41;
		}
	}

	.border-green {
		border: 1px solid #17696A;
    	transition: all 0.2s;
	}

	.block-down__size-column {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.block-down__select-column {
		display: flex;
		flex-direction: column;
		gap: 8px;

		label {
			@include text-14px;
			color: $gray-800;
			opacity: 1;
		}
	}

	.block-down__select {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 344px;
		height: 44px;
		padding: 12px 16px;
		border-radius: 4px;
		border: 1px solid $gray-400;
		background-color: $white;
		@include text-14px;
		opacity: 1;
		color: $gray-600;

		input {
			width: 280px;
			height: 40px;
		}
	}

	.block-down__size-chart {
		display: flex;
		align-items: center;
		gap: 8px;
		height: 45px;
		cursor: pointer;

		label {
			@include text-14px;
			font-weight: 700;
			opacity: 1;
			color: $gray-800;
			cursor: pointer;
		}
	}

	.block-down__button-column {
		display: flex;
		justify-content: space-between;
	}

	.block-down__input-quantity {
		width: 80px;
		height: 44px;
		border-radius: 4px;
		border: 1px solid $gray-400;
		padding: 0px 16px;
		
		input {
			width: 46px;
			height: 42px;
		}
	}

	.block-down__button {
		@include button-green-backround;
		width: 244px;
		justify-content: center;
	}

	.block-down__button-favourite {
		@include button-green;
		width: 153px;
		justify-content: center;
		padding: 0px;
	}

	.block-down__column {
		padding: 20px 0px;

		&:not(:last-child) {
			border-bottom: 1px solid $gray-300;
		}
	
		&:first-child {
			padding-top: 0px;
		}
	
		&:last-child {
			padding-bottom: 0px;
		}
	}

	.block-down__item {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.block-down__column-title {
		display: flex;
		align-items: center;

		&:nth-child(1) {
			justify-content: space-between;
		}

		&:nth-child(2) {
			justify-content: space-between;
		}

		&:nth-child(3) {
			gap: 16px;
		}
	}

	.block-down__text {
		@include text-16px;
	}

	.block-down__plus {
		cursor: pointer;
	}

	.block-down__icon-column {
		display: flex;
		gap: 16px;
	}

	.block-down__more-info {
		margin-bottom: 28px;
	}

	.block-down__payment-methods {
		display: flex;
		gap: 24px;
	}

	.block-down__block-delivery {
		display: none;
		flex-direction: column;
		gap: 24px;
	}

	.block-delivery__text-up {
		@include text-14px;
		color: $gray-800;
		opacity: 1;
	}

	.block-delivery__list {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 0px 20px;
	}

	.block-delivery__column-title {
		display: grid;
		grid-template-columns: 180px 180px 85px;
		width: 440px;
		padding-bottom: 12px;
		border-bottom: 1px solid $gray-400;
	}

	.block-delivery__title {
		@include text-14px;
		font-size: 12px;
		color: $gray-700;
		letter-spacing: 1px;
	}

	.block-delivery__column-text {
		display: grid;
		grid-template-columns: 180px 180px 85px;
		width: 440px;

		&:not(:last-child) {
			padding-bottom: 12px;
			border-bottom: 1px solid $gray-400;
		}
	}

	.block-delivery__text {
		@include text-14px;
		color: $gray-800;
		opacity: 1;
	}

	.block-down__block-return {
		display: none;
		flex-direction: column;
		gap: 16px;
	}

	.block-return__text-up {
		@include text-14px;
		opacity: 1;
		color: $gray-800;
	}

	.block-return__list {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.block-return__item {
		@include text-14px;
		opacity: 1;
		color: $gray-800;
		list-style-position: inside;
		list-style-image: url("/img/bullet.svg");
	}

	.show-flex {
		display: flex;
		animation: list-animation 0.5s ease;
	}

////////////////// SECTION-PRODUCT //////////////////
	.section-product__block-reviews {
		display: none;
		justify-content: space-between;
	}

	.block-reviews__body {
		display: flex;
		flex-direction: column;
		gap: 80px;
		max-width: 735px;
		width: 100%;
		height: 100%;
	}

	.block-reviews__general-reviews {
		display: flex;
		justify-content: space-between;
	}

	.general-reviews__column {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 245px;
		width: 100%;
		height: 100%;
	}

	.general-reviews__quantity {
		@include h3;
	}

	.general-reviews__column-icon {
		display: flex;
		gap: 2px;
	}

	.general-reviews__text {
		@include text-14px;
		color: $gray-700;
		opacity: 1;
	}

	.general-reviews__list {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.general-reviews__item {
		display: flex;
		align-items: center;
		gap: 16px;

		label {
			display: flex;
			align-items: center;
			gap: 2px;

			a {
				@include text-14px;
				color: $gray-700;
				opacity: 1;
			}
		}

		a {
			@include text-14px;
			color: $gray-700;
			opacity: 1;
		}

		&:nth-child(1) {
			.general-reviews__progress-bar {
				.general-reviews__line {
					width: 312px;
					background-color: #03CEA4;
				}
			}
		}
		
		&:nth-child(2) {
			.general-reviews__progress-bar {
				.general-reviews__line {
					width: 170px;
					background-color: #1FDF58;
				}
			}
		}

		&:nth-child(3) {
			.general-reviews__progress-bar {
				.general-reviews__line {
					width: 86px;
					background-color: #F2EA2B;
				}
			}
		}

		&:nth-child(4) {
			.general-reviews__progress-bar {
				.general-reviews__line {
					width: 86px;
					background-color: #F89828;
				}
			}
		}

		&:nth-child(5) {
			.general-reviews__progress-bar {
				.general-reviews__line {
					width: 86px;
					background-color: #FF4242;
				}
			}
		}
	}

	.general-reviews__progress-bar {
		width: 356px;
		height: 4px;
		border-radius: 40px 0px 0px 40px;
		background-color: $gray-300;
	}

	.general-reviews__line {
		height: 4px;
		border-radius: 40px 0px 0px 40px;
	}

	.block-reviews__block-comments {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}

	.block-comments__button-column {
		display: flex;
		justify-content: space-between;
	}

	.block-comments__button {
		@include button-green-backround
	}

	.block-comments__sort-block {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.block-comments__text-sort {
		@include text-16px;
	}

	.block-comments__button-select {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 170px;
		height: 44px;
		padding: 12px 16px;
		background: none;
		border: 1px solid $gray-400;
		border-radius: 4px;

		a {
			@include text-14px;
			color: $gray-800;
			opacity: 1;
		}
	}

	.block-comments__comments-list {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	.block-comments__item {
		display: flex;
		justify-content: space-between;
		
		&:not(:last-child) {
			padding-bottom: 32px;
			border-bottom: 1px solid $gray-300;
		}
	}

	.block-comments__column-user {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.column-user__user-name {
		@include text-18px;
		font-weight: 700;
		color: $gray-900;
	}

	.column-user__data {
		@include text-14px;
		color: $gray-700;
		opacity: 1;
	}

	.general-reviews__column-icon {
		display: flex;
		gap: 2px;
	}

	.block-comments__column-comment {
		display: flex;
		flex-direction: column;
		gap: 16px;
		width: 555px;
	}

	.column-comment__text {
		@include text-16px;
		font-weight: 400;

		span {
			font-weight: 700;
			color: $green;
		}
	}

	.column-comment__block-icon {
		display: flex;
		justify-content: space-between;
	}

	.column-comment__icon {
		display: flex;
		align-items: center;
		gap: 8px;

		a {
			@include text-14px;
			color: $gray-700;
			opacity: 1;
		}
	}

	.column-comment__icon-grade-column {
		display: flex;
		gap: 16px;
	}

	.column-comment__icon-grade {
		display: flex;
		align-items: center;
		gap: 8px;

		a {
			@include text-14px;
			color: $gray-700;
			opacity: 1;
		}
	}

	.block-comments__list-page {
		display: flex;
		justify-content: center;
		gap: 20px;
	}

	.block-comments__item-page {
		@include text-16px;
		color: $gray-800;
	}

	////////////////// SECTION-SETCLOTHES //////////////////
	.section-setClothes__body {
		display: flex;
		flex-direction: column;
		gap: 60px;
		margin-bottom: 100px;

	}
	.section-setClothes__blockUp-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.section-setClothes__title {
		@include h2;
	}

	.section-setClothes__arrow-column {
		display: flex;
		gap: 24px;
	}

	.section-setClothes__arrow-prev {
	}

	.section-setClothes__arrow-next {
	}

	.section-setClothes__blockDown {
		display: flex;
		justify-content: space-between;
	}

	.section-setClothes__swiper .swiper {
		overflow: hidden;
	}

	.section-setClothes__swiper .swiper-wrapper {
		display: flex;
		justify-content: space-between;
		min-width: 0;
	}
	
	.section-setClothes__swiper .swiper-slide {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	
	.section-setClothes__swiper .swiper-button-prev, .swiper-button-next {
		width: 24px;
		height: 24px;
	
		img {
			width: 24px;
			height: 24px;
		}
	}

	.section-setClothes__swiper .swiper-pagination {
		display: flex;
		justify-content: center;
		gap: 12px;
		height: 20px;
	}

	.swiper-pagination-bullet {
		width: 30px;
		height: 3px;
		background-color: $gray-500;
		transition: all 0.3s;
		cursor: pointer;
	}
	
	.swiper-pagination-bullet-active {
		background-color: $gray-800;
		transition: all 0.3s;
	}

	.section-setClothes__image {
		img {
			width: 495px;
			height: 600px;
			object-fit: cover;
		}
	}

////////////////// SECTION-INTEREST-CLOTHES //////////////////
	.section-interest-clothes__body {
		display: flex;
		flex-direction: column;
		gap: 60px;
		padding: 80px 0px 100px 0px;
	}

	.section-interest-clothes__blockUp-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.section-interest-clothes__title {
		@include h2;
	}

	.section-interest-clothes__arrow-column {
		display: flex;
		gap: 12px;
	}

	.section-interest-clothes__arrow {
		@include arrow-style;
		background-color: $white;
	}

	.section-interest-clothes__blockDown {
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}

	/* BLOCK-DOWN__DITAILS*/
	.section-product__block-details {
		display: none;
		justify-content: space-between;
	}

	.show-flex {
		display: flex;
		animation: list-animation 0.5s ease;
	}

	.block-hide {
		display: none;
	}

	.block-details__info-details {
		display: flex;
		flex-direction: column;
		gap: 24px;
		max-width: 735px;
		width: 100%;
		height: 100%;
	}

	.info-details__column {
		&:not(:last-child) {
			padding-bottom: 24px;
			border-bottom: 1px solid $gray-400;
		}

		&:last-child {
			.info-details__item {
				display: flex;
				align-items: center;
				gap: 16px;
			}
		}
	}

	.info-details__title {
		@include h4;
		color: $gray-900;
		margin-bottom: 16px; 
	}

	.info-details__text {
		@include text-16px;
		font-weight: 400;
		margin-bottom: 20px;
	}

	.info-details__list {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.info-details__item {
		@include text-16px;
		font-weight: 400;
		list-style: disc inside;

		&::marker {
			color: $green;
		}

		a {
			@include text-16px;
			font-weight: 400;
		}
	}

	/* INFO-PRODUCT */
	.info-product__item {
		position: relative;
		max-width: 390px;
		width: 100%;
		transition: all 0.5s;
	
		&:hover {
			transition: all 0.5s;
			border-radius: 0.25rem;
			background: $white;
			box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.10), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);
		}
	
		&:hover .info-product__edit {
			transition: all 0.5s;
			opacity: 1;
		}
		&:hover .info-product__arrow-column {
			transition: all 0.5s;
			opacity: 1;
		}
	}
	
	.info-product__info-column {
		padding: 0px 16px 16px 16px;
	}
	
	.info-product__arrow-column {
		display: flex;
		position: absolute;
		gap: 310px;
		justify-content: space-between;
		transform: translateY(-245px);
		opacity: 0;
	}
	
	.info-product__arrow {
		img {
			width: 24px;
			height: 24px;
		}
	}
	
	.info-product__discount {
		position: absolute;
		top: 16px;
		left: 16px;
		max-width: 54px;
		background: $red;
		border-radius: 3px;
		padding: 0px 8px;
		a {
			@include text-16px;
			color: $white;
		}
	}
	
	.info-product__icon-column {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 350px;
		position: absolute;
		top: 16px;
		right: 16px;
	}
	
	.info-product__icon-star, .info-product__icon-heart {
		img {
			width: 16px;
			height: 16px;
			object-fit: cover;
		}
	}
	
	.info-product__icon-heart {
		position: relative;
		background: #FFF;
		padding: 8px;
		border-radius: 50%;
	}
	
	.info-product__img {
		margin-bottom: 1rem;
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	
	.info-product__product-name {
		@include text-18px;
		margin-bottom: 0.5rem;
	}
	
	.info-product__price-column {
		display: flex;
		align-items: flex-end;
		gap: 1rem;
		margin-bottom: 1.25rem;
	}
	
	.info-product__price {
		@include h4;
		font-size: 24px;
		line-height: 130%;
		color: $red;
	}
	
	.info-product__price-gray {
		@include text-18px;
		color: $gray-700;
		text-decoration-line: line-through;
	}
	
	.info-product__button {
		@include button-green;
		text-align: center;
	}
	
	.info-product__edit {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		opacity: 0;
		background: $white;
		transition: all 0.5s;
	}
	
	.info-product__edit-color {
		display: flex;
		justify-content: space-between;
	}
	
	.edit-color__size-column {
		display: flex;
		gap: 0.5rem;
	}
	
	.edit-color__size {
		width: 24px;
		height: 24px;
		padding: 4px 0px 4px 0px;
		text-align: center;
		border: 1px solid $gray-500;
		border-radius: 5px;
		cursor: pointer;
	}
	
	.edit-color__color-column {
		display: flex;
		align-items: center;
		gap: 16px;
	}
	
	.edit-color__color {
		display: inline-flex;
		background: none;
		border: 1px solid $gray-400;
		border-radius: 50%;
		padding: 3px;
		transition: all 0.2s;
		cursor: pointer;
	
		&:nth-child(1) {
			a {
				background: #E0AEA2;
			}
		}
		&:nth-child(2) {
			a {
				background: #C0DDED;
			}
		}
		&:nth-child(3) {
			a {
				background: #FEDE41;
			}
		}
		
		a {
			width: 20px;
			height: 20px;
			border-radius: 50%;
		}
	}
	
	.border-green {
		border: 1px solid $green;
		transition: all 0.2s;
	}

	@media (max-width: 768px) {
		.border-green {
			border: 2px solid $green;
			transition: all 0.2s;
		}
	}

	.edit-color__button {
		@include button-green-backround;
		justify-content: center;
	}
}