@mixin CreatexBlogPage-Style {

	.section-blogPage__countainer {
		max-width: 810px;
	}

	.section-blogPage__body {
		margin: 32px 0px 120px 0px;
	}

	.section-blogPage__block-title {
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-bottom: 64px;
	}

	.section-blogPage__title {
		@include h2;
	}

	.section-blogPage__column-info {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.section-blogPage__item-infoFast {
		display: flex;
	}

	.section-blogPage__user-name {
		@include text-16px;
		color: $green;

		&::after {
			content: "";
			display: inline-block;
			width: 1px;
			height: 12px;
			margin: 0px 12px;
			background-color: $gray-700;
		}
	}

	.section-blogPage__time {
		@include text-16px;
		font-weight: 400;
		color: $gray-700;

		&::after {
			content: "";
			display: inline-block;
			width: 1px;
			height: 12px;
			margin: 0px 12px;
			background-color: $gray-700;
		}
	}

	.section-blogPage__comments {
		display: flex;
		align-items: center;
		gap: 8px;

		span {
			@include text-16px;
			font-weight: 400;
			color: $gray-700;
		}
	}

	.section-blogPage__item-massenger {
		display: flex;
		gap: 12px;
	}

	.section-blogPage__img-massenger {
		background-color: #eeefef;
		border-radius: 4px;
		padding: 8px;

		&:hover {
			background-color: #e3eded;

			svg path {
				fill: $green;
			}
		}
	}

	.section-blogPage__block-content {
		margin-bottom: 96px;
	}

	.section-blogPage__img {
		margin-bottom: 32px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.section-blogPage__title-content {
		@include h4;
		color: $gray-900;
		margin-bottom: 24px;
	}

	.section-blogPage__text {
		@include text-16px;
		font-weight: 400;

		&:nth-child(3) {
			margin-bottom: 60px;
		}
	}

	.section-blogPage__column-quote {
		display: flex;
		gap: 30px;
		margin: 48px 0px;
	}

	.section-blogPage__quote {
		@include h4;
	}

	.section-blogPage__list {
		display: flex;
		flex-direction: column;
		gap: 4px;
		margin: 24px 0px;
	}

	.section-blogPage__item {
		display: flex;
		align-items: center;
		gap: 16px;

		p {
			@include text-16px;
			font-weight: 400;
		}
	}

	.section-blogPage__block-info {
		display: flex;
		justify-content: space-between;
	}

	.section-blogPage__column-tags {
		display: flex;
		align-items: center;
		gap: 12px;

		label {
			@include text-16px;
			color: $gray-900;
		}
	}

	.section-blogPage__tags {
		border: 1px solid $gray-400;
		border-radius: 4px;
		padding: 5.5px 16px;
		@include text-14px;
		font-weight: 700;
		color: $gray-700;
		opacity: 0.9;
	}

	.section-blogPage__column-massenger {
		display: flex;
		align-items: center;
		gap: 12px;

		label {
			@include text-16px;
			color: $gray-900;
		}
	}

	.section-blogPage__massenger-link {
		display: flex;
		gap: 12px;
	}

	.section-blogPage__block-page {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	
	.column-page__column-arrow {
		display: flex;
		justify-content: space-between;

		a {
			@include h4;
		}
	}

	.column-page__item-arrow {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.section-blogPage__column-page {
		display: flex;
		justify-content: space-between;
	}

	.section-blogPage__item-page {
		display: flex;
		gap: 20px;
		max-width: 340px;
		width: 100%;
		height: 100%;

		&:nth-child(2) {
			.item-page__info {
				align-items: flex-end;
				text-align: end;
			}
		}
	}

	.item-page__info {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.item-page__time {
		display: flex;
		align-items: center;
		gap: 8px;

		time {
			@include text-14px;
			color: $gray-700;
			opacity: 0.9;
		}
	}

	.item-page__text {
		@include text-16px;
		color: $gray-900;
	}
}