@mixin CreatexBlog-Style {

	.section-blog__body {
		display: flex;
		justify-content: space-between;
		gap: 40px;
		margin: 32px 0px 180px 0px;
	}

	.section-blog__block-left {
		max-width: 810px;
		width: 100%;
		height: 100%;
	}

	.section-blog__title {
		@include h2;
		margin-bottom: 32px;
	}

	.section-blog__block-column {
		display: flex;
		flex-direction: column;
		gap: 58px;
		margin-bottom: 60px;
	}

	.section-blog__column {
	}

	.section-blog__img {
		margin-bottom: 16px;
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.section-blog__item-date {
		display: flex;
		margin-bottom: 8px;
	}

	.section-blog__text-itemDate {
		@include text-14px;
		color: $gray-700;
		opacity: 0.9;

		&::after {
			content: "";
			display: inline-flex;
			width: 1px;
			height: 12px;
			margin: 0px 12px;
			background-color: $gray-700;
		}
	}

	.section-blog__comments-column {
		display: flex;
		align-items: center;
		gap: 8px;

		span {
			@include text-14px;
			color: $gray-700;
			opacity: 0.9;
		}
	}

	.section-blog__item-info {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.section-blog__title-blog {
		@include h4;
		font-weight: 700;
		color: $gray-900;

		&:hover {
			color: $green;
		}
	}

	.sectioon-blog__text-blog {
		@include text-16px;
		font-weight: 400;
	}

	.section-blog__column-numberPage {
		display: flex;
		gap: 20px;

		a {
			@include text-16px;

			&:first-child {
				color: $green;
			}
		}
	}

	.section-blog__block-right {
		display: flex;
		flex-direction: column;
		gap: 32px;
		max-width: 342px;
		width: 100%;
		height: 100%; 
	}

	.section-blog__input {
		display: flex;
		border: 1px solid $gray-400;
		border-radius: 4px;
		padding: 12px 16px;
		height: 44px;
		@include text-14px;
		color: $gray-600;
		opacity: 0.9;

		input {
			width: 100%;
			height: 100%;
		}
	}

	.section-blog__blog-categories {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding-bottom: 32px;
		border-bottom: 1px solid $gray-300;
	}

	.blog-categories__column-title {
		display: flex;
		justify-content: space-between;
	}

	.blog-categories__title {
		@include h1;
		font-size: 24px;
		font-weight: 700;
	}

	.blog-categories__plus {
		display: none;

		img {
			width: 18px;
			height: 18px;
		}
	}

	.blog-categories__block-column {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.blog-categories__column {
		display: flex;
		justify-content: space-between;
	}

	.blog-categories__text {
		@include text-16px;
	}

	.blog-categories__number {
		@include text-16px;
		font-weight: 400;
	}

	.section-blog__featured-posts {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding-bottom: 32px;
		border-bottom: 1px solid $gray-300;
	}

	.featured-posts__column-title {
		display: flex;
		justify-content: space-between;
		align-items: center
	}

	.featured-posts__title {
		@include h1;
		font-size: 24px;
		font-weight: 700;
	}

	.featured-posts__plus {
		display: none;

		img {
			width: 18px;
			height: 18px;
		}
	}

	.featured-posts__block-column {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.featured-posts__column {
		display: flex;
		gap: 20px;

		&:hover .featured-posts__text {
			color: $green;
		}
	}

	.featured-posts__img {
		img {
			width: 100px;
			height: 100px;
			object-fit: cover;
		}
	}

	.featured-posts__item-text {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.featured-posts__time {
		display: flex;
		gap: 8px;
	}

	.featured-posts__text {
		@include text-16px;
		color: $gray-900;
	}

	.section-blog__tags {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.tags__column-title {
		display: flex;
		justify-content: space-between;
	}

	.tags__title {
		@include h1;
		font-size: 24px;
		font-weight: 700;
	}

	.blog-categories__plus {
		display: none;

		img {
			width: 18px;
			height: 18px;
		}
	}

	.tags__block-button {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
	}

	.tags__button {
		height: 32px;
		padding: 0px 16px;
		border: 1px solid $gray-400;
		border-radius: 4px;
		background: none;
		transition: all 0.3s;
		
		a {
			@include text-14px;
			font-weight: 700;
			color: $gray-700;
			opacity: 0.9;
		}

		&:hover {
			background-color: $green;
			transition: all 0.3s;

			a {
				color: $white;
			}
		}
	}
}