@mixin media-all {

//////////// MEDIA__HEADER-UP ////////////
    @media (max-width: 930px) {
        .header__body-up {
            justify-content: space-around;
        }

        .body-up__logo-text {
            display: none;
        }

        .body-up__block {
            flex: 0 0 0;
        }

        .body-up__account {
            display: none;
        }

        .body-middle__list {
            display: none;
        }
    }
    
    @media (max-width: 680px) {
        .header-up {
            position: fixed;
        }

        .header__body-up {
            justify-content: space-between;
        }

        .body-up__item a {
            font-size: 16px;
        }

        .body-up__menu-lang {
            display: none;
        }
    }

//////////// MEDIA__HEADER-MIDDLE ////////////
    @media (max-width: 1070px) {
        .body-middle__input input {
            width: 270px;
        }
    }

    @media (max-width: 1000px) {
        .body-middle__block-menu {
            gap: 1.75rem;
        }

        .body-middle__list {
            gap: 1.5rem;
        }

        .body-middle__block-input {
            gap: 2rem;
        }
    }

    @media (max-width: 680px) {
        .header-middle__body-middle {
            flex-direction: column;
            gap: 2rem;
        }

        .body-middle__icon-menu {
            display: none;
        }

        .body-middle__icon-menu-burger {
            display: flex;
        }
    }

//////////// MEDIA__HEADER-DOWN ////////////
    @media (max-width: 610px) {
        .body-down__discount {
            font-size: 1.125rem;
        }
    }
    
//////////// MEDIA__SECTION-MAIN ////////////    
    @media (max-width: 1405px) {
        .sliders .slick-arrow  {
            top: 47.5%;
        }
    }

    @media (max-width: 1290px) {
        .sliders .slick-dots {
            transform: translate(30px, -235px);
        }
    }

    @media (max-width: 1024px) {
        .sliders {
            transform: translateY(-665px);
        }

        .body-main__title {
            font-size: 55px;
        }
    }

    @media (max-width: 768px) {
        .section-main__body-main {
            text-align: center;
        }

        .body-main__button-column {
            justify-content: center;
        }

        .sliders .slick-dots {
            display: none;
            opacity: 0;
            visibility: hidden;
        }
    }

    @media (max-width: 450px) {
        .body-main__button-column {
            flex-direction: column;
        }
    }

//////////// MEDIA__SECTION-NEW-CLOTH ////////////
    @media (max-width: 1850px) {
        .body-cloth__block-column {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .body-cloth__column {
            transform: translate(0px, 0px);
        }
    }


    @media (max-width: 450px) {
        .body-cloth__column {
            max-width: 100%;
        }

        .body-cloth__block-icon {
            transform: translate(250px, 15px);
        }

        .body-cloth__item {
            text-align: center;
        }

        .body-cloth__img img {
            width: 80vw;
            height: 72vw;
            object-fit: cover;
        }
    }
//////////// MEDIA__SECTION-TREND ////////////
    @media (max-width: 1253px) {
        .section-trend__item {
            text-align: center;
        }
    }

    @media (max-width: 460px) {
        .section-trend__block {
            flex-direction: column;
            gap: 2rem;
            text-align: center;
        }

        .section-trend__cheveron-column {
            justify-content: space-around;
        }
    }

//////////// MEDIA__SECTION-DISCOUNT ////////////
    @media (max-width: 1253px) {
        .section-discount__block-column {
            justify-content: space-around;
        }
    }

    @media (max-width: 460px) {
        .section-discount__block {
            flex-direction: column;
            gap: 2rem;
            text-align: center;
        }

        .section-discount__cheveron-column {
            justify-content: space-around;
        }

        .section-discount__item {
            text-align: center;
        }

        .section-discount__price-column {
            justify-content: center;
        }
    }

//////////// MEDIA__SECTION-MOBILE ////////////

    @media (max-width: 1070px) {
        .section-mobile__block-mobile {
            gap: 4rem;
        }    
    }

    @media (max-width: 980px) {
        .section-mobile__block-mobile {
            flex-direction: column-reverse;
            height: 100%;
        }

        .section-mobile__column-button {
            justify-content: end;
        }

        .section-mobile__column {
            text-align: end;
            margin: 0px;
            margin-top: 1.75rem;
            gap: 3rem;
        }

        .section-mobile__img {
            transform: translate(0px);
        }
    }

    @media (max-width: 520px) {
        .section-mobile__column-button {
            justify-content: center;
        }

        .section-mobile__column {
            text-align: center;
        }

        .section-mobile__img img {
            width: 390px;
            height: 300px;
            object-fit: contain;
        }
    }

    @media (max-width: 450px) {
        .section-mobile__title {
            font-size: 5vw;
        }

        .section-mobile__column-button {
            flex-wrap: wrap;
        }

        .section-mobile__img img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

//////////// MEDIA__SECTION-IMFO ////////////

/* BLOCK-INFO */
    @media (max-width: 1250px) {
        .section-info__column {
            &:not(:last-child)::before {
                content: url("");
            }
        }
    }

    @media (max-width: 779px) {
        .section-info__body {
            margin: 5.5rem 0px;
        }

        .section-info__block {
            margin-bottom: 7.5rem;
        }

        .section-info__block-column {
            justify-content: space-around;
            gap: 1.5rem;
        }
    }

    @media (max-width: 529px) {
        .section-info__column {
            max-width: 100%;
        }
    }

/* MESENGER-INFO */
    @media (max-width: 1171px) {
        .section-info__block-messenger {
            justify-content: center;
            gap: 3rem;
        }

        .block-messenger__column {
            align-items: center;
            padding-right: 0px;
        }
    }

/* BLOG-INFO */
    @media (max-width: 1260px) {
        .section-info__block-blog {
            justify-content: space-around;
        }

        .block-messenger__column {
            align-items: center;
            padding-right: 0px;
        }
    }
}