@mixin CreatexProfile-Style {

    ///////////////// SECTION-PROFILE ////////////////
    .section-profile__body {
        display: flex;
        justify-content: space-between;
        margin: 3.5rem 0px 11.25rem 0px;
    }

    /* ACCOUNT-MENU */
    .section-profile__account-menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 285px;
        width: 100%;
        height: 100%;
    }

    .account-menu {
        border: 1px solid $gray-300;
        border-radius: 4px;
        box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    }

    .account-menu__block-text {
        padding: 20px 20px 0px 20px;
    }

    .account-menu__title {
        @include h4;
        margin-bottom: 4px;
    }

    .account-menu__email {
        @include text-16px;
        font-weight: 400;
        line-height: 150%;
        color: $gray-700;
    }

    .account-menu__menu {
        display: flex;
        flex-direction: column;
    }

    .account-menu__item {
        @include button-greenProfile;
    }

    .account-menu__text {
    }
    
    /* CONTENT-PROFILE */
    .section-profile__content-rofile {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
    
    .content-profile__block-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .content-profile__title {
        @include h3;
    }
    
    .content-profile__button {
        display: flex;
        align-items: center;
        gap: 8px;
        background: none;
        a {
            @include text-16px;
            color: $red;
        }
    }
    
    .content-profile__block-input {
        display: grid;
        grid-template-columns: repeat(auto-fill, 390px 390px);
        column-gap: 30px;
        row-gap: 24px;
    }

	.content-profile__column-input {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.content-profile__input {
		position: relative;
		height: 52px;
		padding: 13px 16px;
		border: 1px solid $gray-400;
		border-radius: 4px;
		@include text-16px;
		font-weight: 400;
		color: $gray-600;	

		a {
			@include text-16px;
			font-weight: 400;
		}

		span {
			display: inline-block;
			position: absolute;
			right: 16px;
			width: 24px;
			height: 24px;
			background: url("/img/input-hide.svg") center no-repeat;
		}

		.password__open {
			background: url("/img/Eyes.svg") center no-repeat;
		}
	}

	.input__content-profile {
		width: 100%;
		height: 100%;
	}

	.content-profile__select {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 52px;
		padding: 13px 16px;
		border: 1px solid $gray-400;
		border-radius: 4px;
		@include text-16px;
		font-weight: 400;
		color: $gray-600;

		a {
			@include text-16px;
			font-weight: 400;
		}

		svg {
			cursor: pointer;
		}
	}

    .password-control {
		display: inline-block;
		position: absolute;
        right: 16px;
		width: 24px;
		height: 24px;
		z-index: 2;
		opacity: 0;
		cursor: pointer;
	}

    .content-profile__button-down {
        @include button-green-backround;
    }

    /* BREAD-CRUMB */
    .bread-crumb {
		padding: 1rem 0px;
        background-color: $gray-200;
    }

	.bread-crumb__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

    .bread-crumb__block {
        display: flex;
		align-items: center;
    }
    
    .bread-crumb__icon {
        img {
            width: 20px;
            height: 20px;
        }
    }
    
    .bread-crumb__text {
        @include text-14px;
        color: $gray-800;
        opacity: 1;
    }

    .bread-crumb__text::before {
		content: url("/img/Right-chevron.svg");
		position: relative;
		top: 3px;
        padding: 0px 8px;
    }

	.bread-crumb__block-navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}

	.bread-crumb__button {
		display: flex;
		align-items: center;
		gap: 8px;
		background: none;
		cursor: pointer;

		label {
			@include text-14px;
			color: $gray-600;
			opacity: 1;
			transition: all 0.2s;
		}

		&:hover {
			svg path {
				fill: $gray-800;
			}

			label {
				color: $gray-800;
				transition: all 0.2s;
			}
		}
	}


	.section-myOrders {	
		width: 810px;
	}

	.section-myOrders__block-up {
		display: flex;
		justify-content: space-between;
		margin-bottom: 48px;
	}

	.section-myOrders__title {
		@include h3;
	}

	.section-myOrders__column-sort {
		display: flex;
		gap: 12px;

		label {
			@include text-16px;
		}
	}

	.section-myOrders__select {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 170px;
		height: 44px;
		padding: 12px 16px;
		border: 1px solid $gray-400;
		border-radius: 4px;

		a {
			@include text-14px;
			color: $gray-800;
			opacity: 0.9;
		}
	}

	.section-myOrders__block-down {
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: 60px;
	}

	.section-myOrders__column {
		border-bottom: 1px solid $gray-300;
		padding-bottom: 24px;

		&:not(:nth-child(2)) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&:nth-child(1) {
			.section-myOrders__progress {
				background-color: #5A87FC;
			}
		}

		&:nth-child(2) {
			display: flex;
    		flex-direction: column;
    		gap: 24px;
			.section-myOrders__item {
				.section-myOrders__progress {
					background-color: #5A87FC;
				}
			}
		}

		&:nth-child(3) {
			.section-myOrders__progress {
				background-color: #03CEA4;
			}
		}

		&:nth-child(4) {
			.section-myOrders__progress {
				background-color: $red;
			}
		}

		&:nth-child(5) {
			.section-myOrders__progress {
				background-color: #03CEA4;
			}
		}

		&:nth-child(6) {
			.section-myOrders__progress {
				background-color: #03CEA4;
			}
		}
	}

	.section-myOrders__serial-number {
		@include text-16px;
		font-weight: 400;
		color: $gray-900;
		width: 180px;
	}

	.section-myOrders__column-time {
		display: flex;
		align-items: center;
		gap: 8px;
		width: 140px;
	}

	.section-myOrders__wating-time {
		@include text-14px;
		color: $gray-700;
		opacity: 0.9;
	}

	.section-myOrders__progress {
		width: 85px;
		height: 23px;
		text-align: center;
		border-radius: 4px;
		padding: 0px 8px;
		@include text-14px;
		opacity: 0.9;
	}

	.section-myOrders__price {
		@include text-16px;
		font-weight: 400;
		color: $gray-900;
		width: 105px;
	}

	.section-myOrders__button-plus {
		cursor: pointer;
	}

	.section-myOrders__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.section-myOrders__block-columnProduct {
		display: none;
		flex-direction: column;
		gap: 24px;
	}

	.columnProfile__open {
		display: flex;
		animation: columnProfile__open 0.2s;
	}

	@keyframes columnProfile__open {
		0% {
			transition: all 0.2s;
			opacity: 0;
		}

		100% {
			transition: all 0.2s;
			opacity: 1;
		}
	}

	.block-columnProduct {
	}

	.block-columnProduct__block-column {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 20px 24px;
		background-color: $gray-200;
		border-radius: 4px;
	}

	.block-columnProduct__column {
		display: flex;
		justify-content: space-between;
		padding-bottom: 16px;
		border-bottom: 1px solid $gray-300;
	}

	.block-columnProduct__item-title {
		display: flex;
		flex-direction: column;
		gap: 4px;
		width: 246px
	}

	.block-columnProduct__title-product {
		@include text-14px;
		font-weight: 700;
		color: $gray-900;
		opacity: 0.9;
	}

	.block-columnProduct__item-edit {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.block-columnProduct__edit {
		display: flex;
		gap: 4px;

		label {
			@include text-12px-gray;
			text-decoration-line: none;
		}
	}

	.block-columnProduct__edit-text {
		@include text-12px-gray;
		color: $gray-800;
		text-decoration-line: none;
	}

	.block-columnProduct__item-price {
		display: flex;
		flex-direction: column;
		gap: 4px;

		label {
			@include text-12px-gray;
			text-decoration-line: none;
		}

		span {
			@include text-14px;
			color: $gray-900;
			opacity: 0.9;
		}
	}

	.block-columnProduct__item-quantity {
		display: flex;
		flex-direction: column;
		gap: 4px;

		label {
			@include text-12px-gray;
			text-decoration-line: none;
		}

		span {
			@include text-14px;
			color: $gray-900;
			opacity: 0.9;
		}
	}

	.block-columnProduct__item-subtotal {
		display: flex;
		flex-direction: column;
		gap: 4px;

		label {
			@include text-12px-gray;
			text-decoration-line: none;
		}

		span {
			@include text-14px;
			color: $gray-900;
			opacity: 0.9;
		}
	}

	.block-columnProduct__subtotal-price {
		@include text-14px;
		font-weight: 700;
		color: $gray-900;
		opacity: 0.9;
	}

	.block-columnProduct__column-info {
		display: flex;
		justify-content: space-between;

		label {
			@include text-12px-gray;
			text-decoration-line: none;
		}

		span {
			@include text-14px;
			color: $gray-900;
			opacity: 0.9;
		}
	}

	.block-columnProduct__item {
		display: flex;
		align-items: center;
		gap: 4px;

		span:nth-child(4) {
			font-weight: 700;
		}
	}

	.block-columnProduct__order-tracking {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 20px;

		p {
			@include text-16px;
			color: $gray-900;
		}

		button {
			@include button-green;
			padding: 0px 24px;
		}
	}

	.section-myOrders__load-more {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;

		a {
			@include text-16px;
		}
	}

	/* SECTION-WISHLIST */
	.section-wishlist {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	.section-wishlist__block-title {
		display: flex;
		justify-content: space-between;
	}

	.section-wishlist__title {
		@include h3;
	}

	.section-wishlist__button-title {
		display: flex;
		align-items: center;
		gap: 8px;
		background: none;

		a {
			@include text-16px;
			color: $red;
		}
	}

	.section-wishlist__block-column {
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}

	.section-wishlist__column {
		position: relative;
		max-width: 390px;
		width: 100%;
		height: 100%;
	}

	.section-wishlist__block-info {
		padding: 0px 16px 16px 16px;
	}

	.section-wishlist__block-icon {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 350px;
		position: absolute;
		top: 16px;
		right: 16px;
	}

	.section-wishlist__column-icon {
	}

	.section-wishlist__icon-heart {
		position: relative;
		background: #FFF;
		padding: 8px;
		border-radius: 50%;
	}

	.section-wishlist__product-name {
		@include text-18px;
		margin-bottom: 8px;
	}

	.section-wishlist__product-price {
		@include h1;
		font-size: 24px;
		font-weight: 700;
	}

	.section-wishlist__discount {
		position: absolute;
		top: 16px;
		left: 16px;
		max-width: 54px;
		background: #FF4242;
		border-radius: 3px;
		padding: 0px 8px;
	}

	.section-wishlist__arrow-column {
		display: flex;
		position: absolute;
		gap: 310px;
		justify-content: space-between;
		transform: translateY(-245px);
		opacity: 0;
	}

	.section-wishlist__arrow {
		background: none;
	}

	.section-wishlist__column-price {
		display: flex;
		align-items: center;
		gap: 12px;
		margin-bottom: 20px;
	}

	.section-wishlist__product-price-red {
		@include h1;
		font-size: 24px;
		font-weight: 700;
		color: $red;
	}

	.section-wishlist__product-price-gray {
		@include text-12px-gray;
		font-weight: 400;
		font-size: 18px;
	}

	.section-wishlist__block-edit {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.section-wishlist__edit-color {
		display: flex;
		gap: 8px;

		&:nth-child(1) {
			.section-wishlist__color {
				a {
					background-color: #6B3A44;
				}
			}
		}
		&:nth-child(2) {
			.section-wishlist__color {
				a {
					background-color: #C86D19;
				}
			}
		}
		&:nth-child(3) {
			.section-wishlist__color {
				a {
					background-color: #000;
				}
			}
		}
	}

	.section-wishlist__color {
		display: inline-flex;
		background: none;
		border: 1px solid #D7DADD;
		border-radius: 50%;
		padding: 3px;
		transition: all 0.2s;

		a {
			width: 20px;
			height: 20px;
			border-radius: 50%;
		}
	}

	.section-wishlist__button-buy {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		@include button-green-backround;
	}
}