@mixin Section-ProfileStyle {

    ///////////////// SECTION-PROFILE ////////////////
    .section-profile__body {
        display: flex;
        justify-content: space-between;
        margin: 3.5rem 0px 11.25rem 0px;
    }

    /* ACCOUNT-MENU */
    .section-profile__account-menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 285px;
        width: 100%;
        height: 100%;
    }

    .account-menu {
        border: 1px solid $gray-300;
        border-radius: 4px;
        box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    }

    .account-menu__block-text {
        padding: 20px 20px 0px 20px;
    }

    .account-menu__title {
        @include h4;
        margin-bottom: 4px;
    }

    .account-menu__email {
        @include text-16px;
        font-weight: 400;
        line-height: 150%;
        color: $gray-700;
    }

    .account-menu__menu {
        display: flex;
        flex-direction: column;
    }

    .account-menu__item {
        @include button-greenProfile;
    }

    .account-menu__text {
    }
    
    /* CONTENT-PROFILE */
    .section-profile__content-rofile {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
    
    .content-profile__block-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .content-profile__title {
        @include h3;
    }
    
    .content-profile__button {
        display: flex;
        align-items: center;
        gap: 8px;
        background: none;
        a {
            @include text-16px;
            color: $red;
        }
    }
    
    .content-profile__block-input {
        display: grid;
        grid-template-columns: repeat(auto-fill, 390px 390px);
        column-gap: 30px;
        row-gap: 24px;
    }
    
    .open-list {
    }

    .password-control {
        position: absolute;
        right: 10px;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
    }

	.password__open {
		background: url("/img/Eyes.svg") 0 0 no-repeat;
	}

    .content-profile__button-down {
        @include button-green-backround;
    }

    .content-profile__select {
        width: 100%;
        height: 44px;
        padding: 0px 16px;
        border: 1px solid #D7DADD;
        border-radius: 4px;
        background: url("/img/Down-chevron-black.svg") right no-repeat;
    }

    .content-profile__select {
        @include text-16px;
        font-weight: 400;
        color: $gray-800;
    }

    /* BREAD-CRUMB */
    .bread-crumb {
        background-color: $gray-200;
    }

	.bread-crumb__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

    .bread-crumb__block {
        display: flex;
		align-items: center;
        padding: 1rem 0px;
    }
    
    .bread-crumb__icon {
        img {
            width: 20px;
            height: 20px;
        }
    }
    
    .bread-crumb__text {
        @include text-14px;
        color: $gray-800;
        opacity: 1;

    }

    .bread-crumb__text::before {
		content: url("/img/Right-chevron.svg");
		position: relative;
		top: 3px;
        padding: 0px 8px;
    }

	.bread-crumb__block-navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}

	.bread-crumb__button {
		display: flex;
		align-items: center;
		gap: 8px;
		background: none;
		transition: all 0.5s;

		label {
			@include text-14px;
			color: $gray-600;
			opacity: 1;
		}

		&:hover {
			color: $gray-800;
			transition: all 0.5s;
		}
	}
}