@mixin Section-ProfileStyle {

    ///////////////// SECTION-PROFILE ////////////////
    .section-profile__body {
        display: flex;
    }

    .section-profile__account-menu {
        display: flex;
        flex-direction: column;
    }

    .account-menu {
    }

    .account-menu__title {
        @include h4;
    }

    .account-menu__email {
        @include text-16px;
        font-weight: 400;
        line-height: 150%;
        color: $gray-700;
    }

    .account-menu__menu {
    }

    .account-menu__item {
    }

    .account-menu__logo {
    }

    .account-menu__text {
    }
}