@mixin CreatexTrackOrder-Style {

	.section-trackOrder__body {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		margin: 32px 0px 180px 0px;
	}

	.section-trackOrder__block-left {
		max-width: 390px;
		width: 100%;
		height: 100%;
	}

	.section-trackOrder__title {
		@include h2;
		margin-bottom: 24px;
	}

	.section-trackOrder__text {
		@include text-18px;
		color: $gray-700;
		margin-bottom: 32px;
	}

	.section-trackOrder__entry-field {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin-bottom: 48px;

		label {
			@include text-16px;
			font-weight: 400;
		}
	}

	.section-trackOrder__input-column {
		display: flex;

		button {
			@include button-green-backround;
			padding: 0px 40px;
			border-radius: 0px 4px 4px 0px;
		}
	}

	.section-trackOrder__input {
		border: 1px solid $gray-400;
		padding: 13px 16px;
		border-radius: 4px 0px 0px 4px;
		width: 390px;

		input {
			width: 100%;
			height: 100%;
		}
	}

	.section-trackOrder__info-product {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 24px;
		margin-bottom: 40px;
		border: 1px solid $gray-300;
		border-radius: 4px;
		box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
	}

	.section-trackOrder__info-productColumn {
		display: flex;
		gap: 24px;

		label {
			width: 107px;
			@include text-16px;
		}

		span {
			@include text-16px;
			font-weight: 400;
			color: $gray-700;
		}
	}

	.section-trackOrder__input-checkbox {
		display: flex;
		gap: 12px;

		p {
			@include text-16px;
			font-weight: 400;
			color: $gray-800;
		}
	}

	.section-trackOrder__block-right {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 32px;
	}

	.section-trackOrder__column-ellipse {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.section-trackOder__ellipse {
		width: 8px;
		height: 8px;
		padding: 4px;
		background-color: $green;
		border: 4px solid $white;
		border-radius: 50%;

		&:nth-child(11) {
			background-color: $gray-500;
		}
		&:nth-child(13) {
			background-color: $gray-500;
		}
		&:nth-child(15) {
			background-color: $gray-500;
		}
	}

	.section-trackOder__line {
		width: 1px;
		height: 50px;
		background-color: $green;
		opacity: 0.5;

		&:nth-child(10) {
			background-color: $gray-500;
		}
		&:nth-child(12) {
			background-color: $gray-500;
		}
		&:nth-child(14) {
			background-color: $gray-500;
		}
	}

	.section-trackOrder__block-column {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 705px;
		max-height: 555px;
		width: 100%;
		height: 100%;
	}

	.section-trackOrder__column-infoProduct {
		display: grid;
		grid-template-columns: 180px 180px 140px 75px;
		gap: 30px;

		&:not(:last-child) {
			padding-bottom: 20px;
			border-bottom: 1px solid $gray-300;
		}
	}

	.section-trackOrder__title-infoProduct {
		@include text-18px;
		font-weight: 700;
		color: $gray-900;
	}

	.section-trackOrder__text-infoProduct {
		@include text-16px;
		font-weight: 400;
	}

	.section-trackOrder__text-gray-infoProduct {
		@include text-16px;
		font-weight: 400;
		color: $gray-600;
	}
}