@mixin media-all {

//////////// MEDIA__HEADER-UP ////////////
    @media (max-width: 930px) {
        .header__body-up {
            justify-content: space-around;
        }

        .body-up__logo-text {
            display: none;
        }

        .body-up__block {
            flex: 0 0 0;
        }

        .body-up__account {
            display: none;
        }

        .body-middle__list {
            display: none;
        }
    }
    
    @media (max-width: 610px) {

        .header__body-up {
            justify-content: space-between;
        }

        .body-up__item a {
            font-size: 16px;
        }

        .body-up__lang-menu {
            display: none;
        }
    }

//////////// MEDIA__HEADER-MIDDLE ////////////
    @media (max-width: 1070px) {
        .body-middle__input input {
            width: 270px;
        }
    }

    @media (max-width: 1000px) {
        .body-middle__block-menu {
            gap: 1.75rem;
        }

        .body-middle__list {
            gap: 1.5rem;
        }

        .body-middle__block-input {
            gap: 2rem;
        }
    }

    @media (max-width: 610px) {
        .header-middle__body-middle {
            flex-direction: column;
            gap: 2rem;
        }

        .body-middle__icon-menu {
            display: none;
        }

        .body-middle__icon-menu-burger {
            display: flex;
        }
    }

//////////// MEDIA__HEADER-DOWN ////////////
    @media (max-width: 610px) {
        .body-down__discount {
            font-size: 1.125rem;
        }
    }
    
//////////// MEDIA__SECTION-MAIN ////////////    
    @media (max-width: 1405px) {
        .sliders .slick-arrow  {
            top: 47.5%;
        }
    }

    @media (max-width: 1290px) {
        .sliders .slick-dots {
            transform: translate(30px, -235px);
        }
    }

    @media (max-width: 1024px) {
        .sliders {
            transform: translateY(-665px);
        }

        .body-main__title {
            font-size: 55px;
        }
    }

    @media (max-width: 768px) {
        .section-main__body-main {
            text-align: center;
        }

        .body-main__button-column {
            justify-content: center;
        }

        .sliders .slick-dots {
            display: none;
            opacity: 0;
            visibility: hidden;
        }
    }

    @media (max-width: 450px) {
        .body-main__button-column {
            flex-direction: column;
        }
    }
    //////////// MEDIA__SECTION-NEW-CLOTH ////////////

    @media (max-width: 1850px) {
        .body-cloth__block-column {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .body-cloth__column {
            transform: translate(0px, 0px);
        }
    }


    @media (max-width: 450px) {

        .body-cloth__column {
            max-width: 100%;
        }

        .body-cloth__block-icon {
            transform: translate(250px, 15px);
        }

        .body-cloth__item {
            text-align: center;
        }

        .body-cloth__img img {
            width: 80vw;
            height: 72vw;
            object-fit: cover;
        }
    }
}