@mixin CreatexProduct-Style{
	.section-product__body {
		margin: 32px 0px 180px;
	}
	
	.section-product__block-up {
		display: flex;
		flex-direction: column;
		gap: 32px;
		padding-bottom: 20px;
		margin-bottom: 32px;
		border-bottom: 1px solid $gray-300;
	}
	
	.block-up {
	}
	
	.block-up__title-column {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.section-product__title {
		@include h2;
	}
	
	.section-product__serial-number {
		label {
			@include text-16px;
			color: $gray-700;
		}

		number {
			@include text-16px;
			font-weight: 400;
		}
	}
	
	.block-up__button-column {
		display: flex;
		gap: 12px;
	}
	
	.block-up__button-info {
		@include button-green;
		padding: 0px 20px;
	}
	
	.section-product__block-down {
		display: flex;
		justify-content: space-between;
		gap: 105px;
	}
	
	.block-down {
	}
	
	.block-down__slider {
		min-width: 600px;
	}
	
	.block-down__general-info {
		min-width: 525px;
	}
	
	.block-down__setting-column {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	
	.block-down__product-info {
		display: flex;
		justify-content: space-between;
	}
	
	.product-info {
	}
	
	.product-info__price-column {
		display: flex;
		gap: 12px;
	}
	
	.product-info__price-red {
		@include text-24
	}
	
	.product-info__price-gray {
	}
	
	.product-info__discount {
	}
	
	.product-info__icon-column {
	}
	
	.product-info__icon-star {
	}
	
	.block-down__color-column {
	}
	
	.block-down__buttonColor-column {
	}
	
	.block-down__button-color {
	}
	
	.block-down__button-column {
	}
	
	.block-down__input-quantity {
	}
	
	.block-down__button {
	}
	
	.block-down__button-favourite {
	}
}