@mixin CreatexProduct-Style {

	.section-product__body {
		margin: 32px 0px 180px;
	}
	
	.section-product__block-up {
		display: flex;
		flex-direction: column;
		gap: 32px;
		padding-bottom: 20px;
		margin-bottom: 32px;
		border-bottom: 1px solid $gray-300;
	}
	
	.block-up {
	}
	
	.block-up__title-column {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.section-product__title {
		@include h2;
	}
	
	.section-product__serial-number {
		label {
			@include text-16px;
			color: $gray-700;
		}

		number {
			@include text-16px;
			font-weight: 400;
		}
	}
	
	.block-up__button-column {
		display: flex;
		gap: 12px;
	}
	
	.block-up__button-info {
		@include button-green;
		padding: 0px 20px;
		transition: all 0.5s;

		&:nth-child(2) {
			border: none;

			a {
				color: $gray-600;
			}
		}
		&:nth-child(3) {
			border: none;
			
			a {
				color: $gray-600;
			}
		}

		&:hover {
			background: none;
			border: 1px solid $green;

			a {
				color: $green;
			}
		}
	}
	
	.section-product__block-down {
		display: flex;
		justify-content: space-between;
		gap: 105px;
	}
	
	.block-down {
	}
	
	.block-down__slider {
		min-width: 600px;
	}
	
	.block-down__general-info {
		display: flex;
		flex-direction: column;
		gap: 32px;
		min-width: 525px;
	}
	
	.block-down__setting-column {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	
	.block-down__product-info {
		display: flex;
		justify-content: space-between;
	}
	
	.product-info {
	}
	
	.product-info__price-column {
		display: flex;
		align-items: center;
		gap: 12px;
	}
	
	.product-info__price-red {
		@include red-price;
	}
	
	.product-info__price-gray {
		@include text-18px;
		color: $gray-700;
		text-decoration-line: line-through;
		margin-right: 22px;
	}
	
	.product-info__discount {
		@include text-16px;
		color: $white;
		background-color: $red;
		border-radius: 4px;
		padding: 0px 8px;
	}
	
	.product-info__icon-column {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 8px;

		label {
			@include text-14px;
			opacity: 1;
			color: $gray-700;
		}
	}
	
	.product-info__icon-star {
	}
	
/* BLOCK-DOWN */
	.block-down__color-column {
		display: flex;
		flex-direction: column;
		gap: 12px;

		label {
			@include text-14px;
			opacity: 1;
			color: $gray-800;
		}
	}
	
	.block-down__buttonColor-column {
		display: flex;
		gap: 8px;
	}
	
	.block-down__button-color {
		display: inline-flex;
		background: none;
		border: 1px solid $gray-400;
		border-radius: 50%;
		padding: 3px;
		transition: all 0.2s;
		cursor: pointer;

		a {
			width: 20px;
			height: 20px;
			border-radius: 50%;
		}

		&:nth-child(1) a {
			background-color: #E0AEA2;
		}
		&:nth-child(2) a {
			background-color: #C0DDED;
		}
		&:nth-child(3) a {
			background-color: #FEDE41;
		}
	}

	.border-green {
		border: 1px solid #17696A;
    	transition: all 0.2s;
	}

	.block-down__size-column {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.block-down__select-column {
		display: flex;
		flex-direction: column;
		gap: 8px;

		label {
			@include text-14px;
			color: $gray-800;
			opacity: 1;
		}
	}

	.block-down__select {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 344px;
		height: 44px;
		padding: 12px 16px;
		border-radius: 4px;
		border: 1px solid $gray-400;
		background-color: $white;
		@include text-14px;
		opacity: 1;
		color: $gray-600;

		input {
			width: 280px;
			height: 40px;
		}
	}

	.block-down__size-chart {
		display: flex;
		align-items: center;
		gap: 8px;
		height: 45px;
		cursor: pointer;

		label {
			@include text-14px;
			font-weight: 700;
			opacity: 1;
			color: $gray-800;
			cursor: pointer;
		}
	}

	.block-down__button-column {
		display: flex;
		justify-content: space-between;
	}

	.block-down__input-quantity {
		width: 80px;
		height: 44px;
		border-radius: 4px;
		border: 1px solid $gray-400;
		padding: 0px 16px;
		
		input {
			width: 46px;
			height: 42px;
		}
	}

	.block-down__button {
		@include button-green-backround;
		width: 244px;
		justify-content: center;
	}

	.block-down__button-favourite {
		@include button-green;
		width: 153px;
		justify-content: center;
		padding: 0px;
	}

	.block-down__column {
		padding: 20px 0px;

		&:not(:last-child) {
			border-bottom: 1px solid $gray-300;
		}
	
		&:first-child {
			padding-top: 0px;
		}
	
		&:last-child {
			padding-bottom: 0px;
		}
	}

	.block-down__item {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.block-down__column-title {
		display: flex;
		align-items: center;

		&:nth-child(1) {
			justify-content: space-between;
		}

		&:nth-child(2) {
			justify-content: space-between;
		}

		&:nth-child(3) {
			gap: 16px;
		}
	}

	.block-down__text {
		@include text-16px;
	}

	.block-down__icon-column {
		display: flex;
		gap: 16px;
	}

	.block-down__more-info {
		margin-bottom: 28px;
	}

	.block-down__payment-methods {
		display: flex;
		gap: 24px;
	}

	.block-down__block-delivery {
		display: none;
		flex-direction: column;
		gap: 24px;
	}

	.block-delivery {
	}

	.block-delivery__text-up {
		@include text-14px;
		color: $gray-800;
		opacity: 1;
	}

	.block-delivery__list {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 0px 20px;
	}

	.block-delivery__column-title {
		display: grid;
		grid-template-columns: 180px 180px 85px;
		width: 440px;
		padding-bottom: 12px;
		border-bottom: 1px solid $gray-400;
	}

	.block-delivery__title {
		@include text-14px;
		font-size: 12px;
		color: $gray-700;
		letter-spacing: 1px;
	}

	.block-delivery__column-text {
		display: grid;
		grid-template-columns: 180px 180px 85px;
		width: 440px;

		&:not(:last-child) {
			padding-bottom: 12px;
			border-bottom: 1px solid $gray-400;
		}
	}

	.block-delivery__text {
		@include text-14px;
		color: $gray-800;
		opacity: 1;
	}

	.block-down__block-return {
		display: none;
		flex-direction: column;
		gap: 16px;
	}

	.block-return__text-up {
		@include text-14px;
		opacity: 1;
		color: $gray-800;
	}

	.block-return__list {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.block-return__item {
		@include text-14px;
		opacity: 1;
		color: $gray-800;
		list-style-position: inside;
		list-style-image: url("/img/bullet.svg");
	}

	.show-flex {
		display: flex;
		animation: list-animation 0.5s ease;
	}

	////////////////// SECTION-SETCLOTHES //////////////////
	.section-setClothes__body {
		display: flex;
		flex-direction: column;
		gap: 60px;
		margin-bottom: 100px;

	}
	.section-setClothes__blockUp-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.section-setClothes__title {
		@include h2;
	}

	.section-setClothes__arrow-column {
		display: flex;
		gap: 24px;
	}

	.section-setClothes__arrow-prev {
	}

	.section-setClothes__arrow-next {
	}

	.section-setClothes__blockDown {
		display: flex;
		justify-content: space-between;
	}

	.section-setClothes__image {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.section-setClothes__swiper {
		overflow: hidden;
	}

	.section-setClotes__swiper-wrapper {
		display: flex;
		gap: 30px;
	}

	.section-setClothes__swiper-pagination {
		display: flex;
		justify-content: center;
		gap: 12px;

		.swiper-pagination-bullet {
			width: 30px;
			height: 2px;
			background-color: $gray-500;
			border-radius: 4px;
		}

		.swiper-pagination-bullet-active {
			background-color: $gray-800;
		}
	}

////////////////// 	SECTION-INTEREST-CLOTHES //////////////////
	.section-interest-clothes__body {
		display: flex;
		flex-direction: column;
		gap: 60px;
		padding: 80px 0px 100px 0px;
	}

	.section-interest-clothes__blockUp-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.section-interest-clothes__title {
		@include h2;
	}

	.section-interest-clothes__arrow-column {
		display: flex;
		gap: 12px;
	}

	.section-interest-clothes__arrow {
		@include arrow-style;
		background-color: $white;
	}

	.section-interest-clothes__blockDown {
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}

	/* BLOCK-DOWN__DITAILS*/
	.section-product__block-details {
		display: flex;
		justify-content: space-between;
	}

	.block-details {
	}

	.block-details__info-details {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.info-details {
	}

	.info-details__column {
		&:not(:last-child) {
			padding-bottom: 24px;
			border-bottom: 1px solid $gray-400;
		}

		&:last-child {
			.info-details__item {
				&:nth-child(1) {
					list-style: url(https://www.figma.com/file/Eu3bJwzrCsKebYiDiaYADc/createx-shop?type=design&node-id=2508-1007&mode=dev) inside;
				}

				&:nth-child(2) {
					list-style: url(https://www.figma.com/file/Eu3bJwzrCsKebYiDiaYADc/createx-shop?type=design&node-id=2508-1007&mode=dev) inside;
				}

				&:nth-child(3) {
					list-style: url(https://www.figma.com/file/Eu3bJwzrCsKebYiDiaYADc/createx-shop?type=design&node-id=2508-1007&mode=dev) inside;
				}

				&:nth-child(4) {
					list-style: url(https://www.figma.com/file/Eu3bJwzrCsKebYiDiaYADc/createx-shop?type=design&node-id=2508-1007&mode=dev) inside;
				}
			}
		}
	}

	.info-details__title {
		@include h4;
		color: $gray-900;
		margin-bottom: 16px; 
	}

	.info-details__text {
		@include text-16px;
		font-weight: 400;
		margin-bottom: 20px;
	}

	.info-details__list {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.info-details__item {
		@include text-16px;
		font-weight: 400;
		list-style: disc inside;

		svg {
			margin-right: 16px;
		}

		a {
			@include text-16px;
			font-weight: 400;
		}
	}
}