@mixin CreatexContact-Style {
	.section-contact__body {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		margin: 40px 0px 180px 0px;
	}

	.section-contact__navigation {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		max-width: 170px;
		width: 100%;
		height: 100%;
	}

	.section-contact__button-navigation {
		@include h4;
		font-size: 28px;
		color: $gray-600;
		background: none;

		&:focus {
			color: $green;
		}
	}
	
/* BLOCK-CONTACT-US */
	.section-contact__block-contactUs {
		display: block;
		max-width: 810px;
		width: 100%;
		height: 100%;
	}

	.block-contactUs__column-up {
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-bottom: 60px;
	}

	.block-cotactUs__title {
		@include h4;
		color: $gray-900;
	}

	.block-cotactUs__block-connection {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.block-contactUs__column-connection {
		display: flex;
		align-items: center;
		gap: 12px;

		a {
			@include text-16px;
			font-weight: 400;
		}
	}

	.block-contactUs__column-down {
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-bottom: 48px;
	}

	.block-contactUs__form {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.block-contactUs__form-input {
		display: grid;
		grid-template-areas: 'a a';
		column-gap: 30px;
		row-gap: 24px;
	}

	.block-contactUs__column-input {
		display: flex;
		flex-direction: column;
		gap: 8px;

		label {
			@include text-16px;
			font-weight: 400;
			color: $gray-800;
		}
	}

	.block-contactUs__input {
		padding: 13px 16px;
		border: 1px solid $gray-400;
		border-radius: 4px;
		width: 100%;
		height: 52px;

		input {
			width: 100%;
			height: 100%;
			@include text-16px;
			font-weight: 400;
			color: $gray-600;
		}
	}

	.block-contactUs__form-textarea {
		display: flex;
		flex-direction: column;
		gap: 8px;

		label {
			@include text-16px;
			font-weight: 400;
			color: $gray-800;
		}
	}

	.block-contactUs__textarea {
		padding: 13px 16px;
		border: 1px solid $gray-400;
		border-radius: 4px;
		width: 100%;

		textarea {
			width: 100%;
			height: 130px;
			@include text-16px;
			font-weight: 400;
			color: $gray-600;
			resize: none;
		}
	}

	.block-contactUs__button {
		@include button-green-backround;
		padding: 0px 40px;
		height: 52px;
	}

/* BLOCK-OUTLET-STORES */
	.section-contact__block-outletStores {
		display: none;
		flex-wrap: wrap;
		column-gap: 30px;
		row-gap: 48px;
		max-width: 810px;
		width: 100%;
		height: 100%;
	}

	.block-outletStores__card {
		max-width: 390px;
		width: 100%;
		height: 100%;
		border: 1px solid $gray-300;
		border-radius: 4px;
		transition: all 0.3s;

		&:hover {
			box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.10), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);
			transition: all 0.3s;
		}
	}

	.block-outletStores__img img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.block-outletStores__item {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 24px 24px 32px 24px;
	}

	.block-outletStores__title {
		@include h1;
		font-size: 24px;
		font-weight: 700;
	}

	.block-outletStores__info-shop {
		display: flex;
		flex-direction: column;
		gap: 12px;

		span {
			@include text-16px;
			font-weight: 400;
		}

		a {
			@include text-16px;
			font-weight: 400;
			color: $green;
			text-decoration: underline;
		}
	}

	.block-outletStores__info-shopColumn {
		display: flex;
		align-items: center;
		gap: 12px;

	}

/* BLOCK-QUESTIONS */
	.section-contact__block-questions {
		display: none;
		flex-direction: column;
		gap: 20px;
		max-width: 810px;
		width: 100%;
		height: 100%;
	}

	.block-questions__column {
		display: flex;
		flex-direction: column;
		gap: 16px;
		position: relative;

		&:not(:last-child) {
			padding-bottom: 20px;
			border-bottom: 1px solid $gray-300;
		}
	}

	.block-questions__item-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
	}

	.block-questions__title {
		@include h4;
		color: $gray-900;
	}

	.block-questions__plus {
		cursor: pointer;
		
		img {
			width: 20px;
			height: 20px;
		}
	}

	.block-questions__text {
		display: none;
		@include text-16px;
		font-weight: 400;
		color: $gray-700;
	}

	.show-block {
		display: block;
		animation: list-animation 0.5s ease;
	}
}
