@mixin CreatexCheckout-Style {

	.section-checkout__body {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		margin: 32px 0px 180px 0px;
	}

//////////////////// BLOCK-PRODUCT ////////////////////
	.section-checkout__block-product-checkout {
		display: flex;
		flex-direction: column;
		gap: 32px;
		width: 735px;
	}

	.block-product-checkout__column-title {
		display: flex;
		flex-direction: column;
		gap: 32px;
		padding-bottom: 32px;
		border-bottom: 1px solid $gray-300;
	}

	.block-product-checkout__item-title {
		display: flex;
		justify-content: space-between;
	}

	.block-product-checkout__title {
		@include h2;
	}

	.block-product-checkout__back-product {
		@include text-16px;
		color: $green;
		text-decoration-line: underline;
	}

	.block-product-checkout__item-account {
		display: flex;
		gap: 12px;
		border-radius: 4px;
		border: 1px solid rgba(23, 105, 106, 0.25);
		background: rgba(23, 105, 106, 0.06);
		padding: 16px 20px;

		p {
			@include text-16px;
			font-weight: 400;
			color: $green;

			a {
				@include text-16px;
				font-weight: 700;
				color: $green;
				text-decoration-line: underline;
			}
		}
	}

	.block-product-checkout__item-review {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.item-review {
	}

	.item-review__title {
		@include h1;
		font-size: 24px;
	}

	.item-review__block-column {
		display: flex;
		flex-direction: column;
		gap: 20px;
		background-color: $gray-200;
		border-radius: 4px;
		padding: 24px;
	}

	.item-review__column {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 10px;
		padding-bottom: 20px;
		border-bottom: 1px solid $gray-300;
	}

	.item-review__block-info {
		display: flex;
		gap: 22px;

		img {
			width: 80px;
			height: 80px;
			object-fit: cover;
		}
	}

	.item-review__column-info {
		display: flex;
		flex-direction: column;
		gap: 4px;
		width: 210px;
	}

	.item-review__title-column {
		@include text-14px;
		font-weight: 700;
		color: $gray-900;
		opacity: 0.9;
	}

	.item-review__column-edit {
	}

	.item-review__edit {
		display: flex;
		gap: 4px;
	}

	.item-review__input {
		width: 72px;
		height: 36px;
		border-radius: 4px;
		background-color: $white;
		border: 1px solid #D7DADD;
		padding: 0px 12px;

		input {
			width: 100%;
			height: 100%;
		}
	}

	.item-review__column-price {
		display: flex;
		align-items: center;
		gap: 4px;
		width: 91px;
	}

	.item-review__price-red {
		@include text-16px-red;
	}

	.item-review__price-gray {
		@include text-12px-gray;
	}

	.item-review__column-button {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.item-review__button {
		&:nth-child(1) {
			@include button-green-backround;
		}

		&:nth-child(2) {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 8px;
			background: none;

			a {
				@include text-12px;
			}
		}

		img {
			width: 16px;
			height: 16px;
		}
	}

	.item-review__price {
		@include text-16px;
		color: $gray-900;
	}

	.item-review__subtotal {
		@include text-18px;
		font-weight: 700;
		color: $gray-900;
		text-align: end;
	}

	.block-product-checkout__delivery-address {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.delivery-address__title {
		@include h1;
		font-size: 24px;
	}

	.delivery-address__block-input {
		display: grid;
		grid-template-areas: 'a a';
		column-gap: 25px;
		row-gap: 24px;
	}

	.delivery-address__column-input {
		display: flex;
		flex-direction: column;
		gap: 8px;

		label {
			@include text-16px;
			font-weight: 400;
		}
	}

	.delivery-address__input {
		display: flex;
		justify-content: space-between;
		border: 1px solid $gray-400;
		border-radius: 4px;
		padding: 13px 16px;

		input {
			@include text-16px;
			font-size: 14px;
			font-weight: 400;
			color: $gray-600;
			width: 100%;
			height: 100%;
		}
	}

	.block-product-checkout__shipping-method {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.shipping-method__title {
		@include h1;
		font-size: 24px;
	}
	
	.shipping-method__block-column {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.shipping-method__column {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.shipping-method__input {
	}

	.shipping-address__info-method {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	
	.info-method {
	}

	.info-method__column-info {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.info-method__address {
		@include text-16px;
		color: $gray-800;
	}

	.info-method__expectation {
		@include text-16px;
		font-weight: 400;
		color: $gray-700;
	}

	.info-method__price {
		@include text-16px;
		font-weight: 400;
		color: $gray-800;
	}

	.block-poduct-checkout__payment-method {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.payment-method__title {
		@include h1;
		font-size: 24px;
	}

	.payment-method__block-column {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.payment-method__column-card {
		display: flex;
		flex-direction: column;
		gap: 16px;
		max-width: 390px;
		width: 100%;
		height: 100%;
		padding: 24px;
		border-radius: 4px;
		border: 1px solid $gray-300;
		box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
	}

	.payment-method__item-up {
		display: flex;
		// align-items: center;
		gap: 20px;
	}

	.payment-method__input-column {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.payment-method__input {
	}

	.payment-method__label {
		@include text-16px;
		color: $gray-800;
	}

	.payment-method__cards-column {
		display: flex;
		gap: 12px;
	}

	.payment-method__block-dataCard {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.block-dataCard__column {
		display: flex;
		flex-direction: column;
		gap: 8px;

		label {
			@include text-16px;
			color: $gray-800;
		}
	}

	.block-dataCard__input {
		@include input;
	}

	.block-dataCard__block-column {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}

	.payment-method__column {
		display: flex;
		align-items: center;
		gap: 20px;
		max-width: 390px;
		width: 100%;
		height: 100%;
		padding: 24px;
		background-color: $white;
		border: 1px solid $gray-300;
		border-radius: 4px;
		box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
	}

	.block-poduct-checkout__additional-information {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.additional-information__title {
		@include h1;
		font-size: 24px;
	}

	.additional-information__column-input {
		display: flex;
		flex-direction: column;

		label {
			@include text-16px;
			font-weight: 400;
			color: $gray-800;
		}

		textarea {
			resize: none;
			width: 100%;
			height: 130px;
			padding: 13px 16px;
			border-radius: 4px;
			border: 1px solid $gray-400;
			@include text-16px;
			font-weight: 400;
			color: $gray-800;
		}
	}

//////////////////// BLOCK-ODERED-TOTALS ////////////////////
	.section-checkout__block-orderTotals {
		display: flex;
		flex-direction: column;
		gap: 24px;
		width: 390px;
	}

	.block-orderTotals {
	}

	.block-orderTotals__column-promoCode {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.block-orderTotals__column-input {
		display: flex;
	}

	.block-orderTotals__input {
		@include input;
		width: 100%;
		border-radius: 4px 0px 0px 4px;
	}

	.block-orderTotals__button-apply {
		@include button-green-backround;
		border-radius: 0px 4px 4px 0px;
		
		a {
			line-height: 52px;
		}
	}

	.block-orderTotals__column-orderTotals {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 24px;
		background-color: $gray-200;
		border-radius: 4px;
	}

	.block-orderTotals__title {
		@include h1;
		font-size: 24px;
		padding-bottom: 24px;
		border-bottom: 1px solid $gray-300;
	}

	.block-orderTotals__list {
		display: flex;
		flex-direction: column;
		gap: 4px;
		padding-bottom: 16px;
		border-bottom: 1px solid $gray-300;
	}

	.block-orderTotals__item {
		display: flex;
		justify-content: space-between;

		label {
			@include text-16px;
			font-weight: 400;
		}

		span {
			@include text-16px;
			font-weight: 400;
		}

		&:nth-child(1) {
			label {
				@include text-16px;
			}
	
			span {
				@include text-16px;
			}
		}
	}

	.block-orderTotals__text-down {
		label {
			@include h4;
			color: $gray-900;
		}

		span {
			@include h4;
			color: $gray-900;
		}
	}

	.block-orderTotals__button {
		@include button-green-backround;
		justify-content: center;

		a {
			line-height: 52px;
		}
	}
}