@mixin h1 {
    font: {
        family: "Lato";
        size: 72px;
        weight: 900;
    };
    line-height: 130%;
    color: $gray-900;
}

@mixin h2 {
    @include h1;
    font-size: 46px;
    line-height: 130%;
}

@mixin h3 {
    @include h1;
    font-size: 32px;
}

@mixin h4 {
    @include text-16px;
    font-size: 20px;
    line-height: 150%;
}

@mixin text-14px {
    font: {
        family: "Lato";
        size: 14px;
        weight: 400;
    };
    line-height: 150%;
    color: $white;
    opacity: 0.6000000238418579;
}

@mixin text-16px {
    font: {
        family: "Lato";
        size: 16px;
        weight: 700;
    };
    line-height: 160%;
    color: $gray-800;
}

@mixin text-18px {
    @include text-16px;
    color: $gray-800;
    font: {
        size: 18px;
        weight: 400;
    };
    line-height: 150%;
}

@mixin text-18px-upp {
    @include text-18px;
    font-weight: 700;
    color: $gray-900;
    text-transform: uppercase;

}

@mixin number {
    button {
        font: {
            family: "Ubuntu";
            size: 28px;
            weight: 700;
        };
        line-height: 150%;
        color: $gray-800;
        opacity: 1;
    }
}

@mixin main__button {
    transition: all 0.5s;
    &:nth-child(1) {
        padding: 0px 40px;
        border: 1px solid $green;
        border-radius: 4px;
        background: none;
        a {
            @include text-16px;
            line-height: 52px;
            letter-spacing: 0.5px;
            color: $green;
        }
        &:hover {
            background: $green;
            a {
                color: $white;
            }
        }
    }
    &:nth-child(2) {
        padding: 0px 40px;
        border-radius: 4px;
        background: $green;
        a {
            @include text-16px;
            line-height: 52px;
            letter-spacing: 0.5px;
            color: $white;
        }
        &:hover {
            border: 1px solid $green;
            background: none;
            a {
                color: $green;
            }
        }
    }
}

@mixin button-green {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.5s;
    padding: 0px 32px;
    border: 1px solid $green;
    border-radius: 4px;
    background: none;
    a {
        @include text-16px;
        line-height: 44px;
        letter-spacing: 0.5px;
        color: $green;
    }
    &:hover {
        svg path {
            fill: $white;
        }
        background: $green;
        a {
            color: $white;
        }
    }
}

@mixin button-green-backround {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.5s;
    padding: 0px 32px;
    border-radius: 4px;
    background: $green;
    a {
        @include text-16px;
        line-height: 44px;
        letter-spacing: 0.5px;
        color: $white;
    }
    &:hover {
        background: #18888a;
    }
}

@mixin button-green-span {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.5s;
    padding: 5.5px 16px;
    border: 1px solid $gray-400;
    border-radius: 4px;
    background: none;
    span {
        @include text-16px;
        line-height: 150%;
        letter-spacing: 0.5px;
        color: $gray-700;
    }
}

@mixin slider {

/* SLIDER */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

    .slick-list
    {
        position: relative;

        display: block;
        overflow: hidden;

        margin: 0;
        padding: 0;
    }
    .slick-list:focus
    {
        outline: none;
    }
    .slick-list.dragging
    {
        cursor: pointer;
        cursor: hand;
    }

    .slick-slider .slick-track,
    .slick-slider .slick-list
    {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }

    .slick-track
    {
        position: relative;
        top: 0;
        left: 0;

        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .slick-track:before,
    .slick-track:after
    {
        display: table;

        content: '';
    }
    .slick-track:after
    {
        clear: both;
    }
    .slick-loading .slick-track
    {
        visibility: hidden;
    }

    .slick-slide
    {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
    }
    [dir='rtl'] .slick-slide
    {
        float: right;
    }
    .slick-slide img
    {
        display: block;
    }
    .slick-slide.slick-loading img
    {
        display: none;
    }
    .slick-slide.dragging img
    {
        pointer-events: none;
    }
    .slick-initialized .slick-slide
    {
        display: block;
    }
    .slick-loading .slick-slide
    {
        visibility: hidden;
    }
    .slick-vertical .slick-slide
    {
        display: block;

        height: auto;

        border: 1px solid transparent;
    }
    .slick-arrow.slick-hidden {
        display: none;
    }

//////////////////////
    
    .single-slider {
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 2;
    }
    .single-slider:before {
        position: absolute;
        content: "";
        width: 100%;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .sliders .slick-arrow {
        position: absolute;
        top: 44.5%;
        z-index: 10;
        font-size: 0;
        width: 24px;
        height: 24px;
    }

    .slick-arrow.slick-prev {
        left: 0;
        background: url("/img/Left-cheveron-black.svg") center no-repeat white;
        border-radius: 50%;
        padding: 24px;
        margin-left: 32px;
    }

    .slick-arrow.slick-next {
        right: 0;
        background: url("/img/Right-cheveron-black.svg") center no-repeat white;
        border-radius: 50%;
        padding: 24px;
        margin-right: 32px;
    }
      
    .sliders .slick-dots {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        transform: translate(320px, -235px);
    }

    .sliders .slick-dots li {
        @include number;
        border-bottom: 2px solid $gray-800;
        width: 178px;
        transition: all 0.4s;
        padding-bottom: 24px;
        opacity: 0.6000000238418579;
        &:hover {
            opacity: 1;
            color: black;
        }

        &:nth-child(1) {
            background: url("/img/01-number.svg") left no-repeat;
            opacity: 0.4;
        }
        &:nth-child(2) {
            background: url("/img/02-number.svg") left no-repeat;
        }
        &:nth-child(3) {
            background: url("/img/03-number.svg") left no-repeat;
        }
        &:nth-child(4) {
            background: url("/img/04-number.svg") left no-repeat;
        }
    }

    .sliders .slick-dots li button {
        @include number;
        font-size: 0;
        background: none;
        &:hover {
            opacity: 1;
            color: black;
        }
    }

    .sliders {
        transform: translateY(-691px);
    }
}

@mixin burger {
    #menuToggle {
    display: none;
    position: absolute;
    top: 18px;
    right: 15px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
    }

    #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0;
    z-index: 2;
    
    -webkit-touch-callout: none;
    }

    #menuToggle span {
    display: block;
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: gainsboro;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(46deg) translate(-2px, 0px);
        background: gainsboro;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2)
    {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
    }

    .menu {
        position: absolute;
        width: 280px;
        margin: -20px 0 0 0;
        right: -15px;
        background: $gray-900;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        border-radius: 0px 0px 0px 50px
    }

    .menu a {
        @include h4;
        color: #ffffffc2;
    }

    .menu li {
        border-bottom: 1px solid #18888a;
        padding: 7px 20px 13px 0px;
    }

    #menuToggle input:checked ~ ul {
        text-align: end;
        transform: none;
        opacity: 1;
    }

    .burger__menu-down {
        display: none;
        justify-content: space-around;
        transform: translate(0px, 5px);
        background: $green;
        border-radius: 0px 0px 0px 40px;
        padding: 5px 0px 11px 0px;
    }

    @media screen and (max-width: 930px) {
        #menuToggle {
            display: block;
        }
    }

    @media (max-width: 610px) {
        .menu {
            height: 350px;
            border-radius: 0px 0px 0px 45px;
        }
        
        .burger__menu-down {
            display: flex;
        }
    }

/* BODY-UP__BURGER */
    .body-up__account-burger {
        display: flex;
        align-items: center;
        transform: translate(0px, -20px);
        background: $green;
        padding: 10px;
        width: 285px;
    }
    
    .body-up__logo-account-burger {
        img {
            width: 30px;
            height: 30px;
        }

        margin-right: 0.5rem;
    }
    
    .body-up__login-burger {
        @include text-14px;
        a {
            color: orange;
            &::after {
                content: "/";
                padding: 0px 3px;
            }
        }
    }
    
    .body-up__register-burger {
        @include text-14px;
        opacity: 1;
        a {
            color: white;
        }
    }

    .body-up__lang-menu-burger {
        display: flex;
        align-items: center;
    }
    
    .body-up__logo-lang-burger {
        img {
            width: 50px;
            height: 30px;
        }
    
        margin-right: 0.75rem;
    }
    
    .body-up__text-burger {
        @include text-18px;
        color: $white;
        margin-right: 0.4rem;
    }
    
    .body-up__vector-burger {
        img {
            width: 12px;
            height: 12px;
        }
    }

/* BODY-MIDDLE__BURGER */
    .body-middle__icon-menu-burger {
        display: none;
        align-items: center;
    }
    
    .body-middle__icon-burger {
        &:not(:last-child)::after {
            content: url("/img/divider-bar.svg");
            padding: 0px 20px;
        }
        img {
            width: 20px;
            height: 20px;
            filter: brightness(5);
        }
    }
}

@mixin sub-menu-woomen {

    .body-middle__sub-list {
        display: none;
        justify-content: center;
        position: absolute;
        top: 82px;
        left: 0;
        border-top: 2px solid $gray-300;
        background: $white;
        width: 100%;
        height: 487px;
        padding-top: 1.25rem;
    }

    .body-middle__sub-list>li {
        background: $white;
    }

    .body-middle__sub-menu {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .sub-menu {
        &::after {
            content: url("/img/divider-sub-bur.svg");
            padding: 0px 67px;
        }
    }

    .sub-menu__column {
        max-width: 180px;
    }

    .sub-menu__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 10.1vw;
        height: 100%;
    }

    .sub-menu__item {
        a {
            @include text-14px;
            font-weight: 400;
            color: $gray-800;
            opacity: 1;
        }
    }

    .sub-menu__item-title {
        a {
            @include text-14px;
            font-weight: 700;
            color: $gray-900;
            opacity: 1;
            letter-spacing: 1px;
        }
    }

    .body-middle__sub-menu-img {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .sub-menu-img__img {
        img {
            width: 285px;
            height: 285px;
            object-fit: cover
        }
    }

    .sub-menu-img__text {
        a {
            @include text-14px;
            font-weight: 700;
            color: $gray-800;
            opacity: 1;
        }
    }

    .sub-menu-img__button {
        @include button-green;
    }

    .body-middle__list>li:hover .body-middle__sub-list {
        display: flex;
    }
}

@mixin login-popap {

    .login-popap {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        top: 0;
        left: 0;
        z-index: 50;
        
        &:target {
            opacity: 1;
            visibility: visible;
        }
    }

    .login-popap__body {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 10px;
    }

    .login-popap__content {
        text-align: center;
        max-width: 486px;
        padding: 48px;
        background-color: $white;
        position: relative;
    }

    .login-popap__close {
        position: absolute;
        top: 24px;
        right: 24px;
        img {
            width: 24px;
            height: 24px;
        }
    }

    .login-popap__column-title {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .login-popap__title {
        @include h4;
        font-size: 28px;
    }

    .login-popap__text {
        @include text-14px;
        color: $gray-700;
        opacity: 1;
    }

    .login-popap__block-input {
        display: flex;
        flex-direction: column;
        gap: 20px
    }

    .block-input {
        text-align: start;
        padding-bottom: 1.5rem;
    }

    .block-input__column-input {
        @include text-14px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        opacity: 1;

        label {
            color: $gray-800;
        }

        input {
            width: 100%;
            height: 44px;
            padding: 12px 16px;
            border: 1px solid $gray-400;
            border-radius: 4px;
        }
    }

    .block-input__open-password {
        display: flex;
        justify-content: end;
        align-items: center;

        svg {
            position: absolute;
            margin-right: 16px;
        }
    }

    .block-input__column-profile {
        display: flex;
        align-items: center;
    }

    .column-profile__input {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        gap: 12px;

        input {
            width: 16px;
            height: 16px;
        }
        
        span {
            @include text-14px;
            color: $gray-800;
            opacity: 1;
        }
    }
    .column-profile__forgot-password {
        @include text-14px;
        color: $green;
        opacity: 1;
    }

    .block-input__button {
        @include button-green-backround;
        justify-content: center;
        margin-top: 4px;
    }

    .block-input__text-profile {
        @include text-14px;
        color: $gray-800;
        opacity: 1;
    
        a {
            @include text-14px;
            color: $green;
            opacity: 1;
        }
    }

    .login-popap__block-sing-in-messenger {
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-top: 1px solid $gray-300;
    }

    .block-sing-in-messenger {
        padding-top: 1.5rem;
    }

    .block-sing-in-messenger__text {
        @include text-14px;
        color: $gray-700;
        opacity: 1;
    }
    .block-sing-in-messenger__column-icon {
        display: flex;
        justify-content: center;
        gap: 12px;
    }
    .block-sing-in-messenger__icon {
        background-color: #eeefef;
        padding: 8px;

        &:hover {
            background-color: #e3eded;
        }
        &:hover svg path {
            fill: $green;
        }
    }
}